*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
        font-size: 20px;
        width: 100vw;
        height: 5vh;
        background-color: #636161;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
    }

    
    .input-grupo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 50px;
        margin-left: 870px;
    }


    .form{
        width: 1000px;
        display: flex;
        justify-items: center;
        align-items: center;
        font-size: 20px;
        
        
    }
     button{
        background-color: #9baca8;
        height: 35px;
        width: 150px;

        
    }
    .rodape{
        background-color: rgb(162, 163, 162);
        margin-top: 112px;
        margin-bottom: 0;
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }