*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    text-align: center;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
        font-size: 20px;
        width: 100vw;
        height: 5vh;
        background-color: #636161;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
    }

h1{
    color: rgb(109, 49, 77);
  
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    font-size: 20px;
}
.imgg{
    margin-left: 300px; 
}
.text{
    
    font-size: 27px;
    color: #523f49;

}
button{
    color: rgb(255, 0, 157);
    background-color: rgb(211, 195, 195);
    height: 75px;
    border-radius: 5px;
    text-decoration: none;
    width: 550px;
    font-size: 26px;
}
p{
    
    font-size: 27px;
    color: #523f49;
}
.rodape{
    background-color: rgb(162, 163, 162);
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}